@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-color: #5cc560;
  /* --background-color: #3d4558; */
  --background-color: #282e3a;
  --button-color: #3a943c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  display: flex;
}

ul {
  list-style-type: none;
}

button {
  border: none;
}

input {
  border: none;
}

.hidden {
  display: none;
}

/* LEFT SECTION */

.left-section {
  background-color: var(--primary-color);
  color: white;
  width: 350px;
  height: 100vh;
  position: fixed;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
}

.left-section .header {
  justify-content: center;
  gap: 20px;
  width: 100%;
  display: flex;
}

.header .header-icon {
  height: 50px;
  filter: invert(1);
}

.header h1 {
  text-align: center;
  font-size: 3rem;
}

.left-section .dropdown {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.left-section button {
  padding: 10px 5px;
  width: 100%;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--button-color);
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}

.left-section button img {
  height: 25px;
  filter: invert(1);
}

.book-form {
  margin-top: 50px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.form-input-section > p {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-weight: bold;
  margin-bottom: 15px;
}

.form-input-section > p > label {
  flex: 1;
  display: flex;
  align-items: center;
}

.form-input-section input {
  flex: 3;
  padding: 5px 5px;
}

.form-input-section h4 {
  text-align: center;
}

.form-input-section .radio-list {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.form-input-section h4 {
  margin-top: 25px;
}

.form-btn-section {
  margin-top: 30px;
  display: flex;
}

.form-btn-section p {
  width: 100%;
  display: flex;
  gap: 5px;
}

.form-btn-section button:hover {
  background-color: white;
  color: var(--primary-color);
}

.cancel-button,
.add-button {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  padding: 5px 0;
  flex: 1;
}

/* RIGHT SECTION */

.right-section {
  padding: 25px;
  background-color: var(--background-color);
  overflow: hidden;
  flex: 3;
}

.library-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.book-card {
  height: 250px;
  color: var(--background-color);
  overflow: hidden;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.book-card div:nth-child(1) {
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  flex: 1;
  display: flex;
  align-items: center;
}

.book-card div:nth-child(2) {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  padding: 20px 5px;
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.book-card button {
  background-color: var(--button-color);
  color: white;
  font-weight: bold;
  padding: 5px 0;
}

.book-card .read-status-toggle {
  margin-top: 30px;
}

.book-card .delete-button {
  margin-top: 5px;
}
